@import '../.:/../../../styles.scss';

.team{
  background-position-x: center;
  height: 100%;
  &::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00000090;
    cursor: pointer;
  }
  &:hover{
    &::after{
      content: "";
      background-color: transparent;
    }
    .team-data{
      opacity: 1 !important;
    }
  }
  &-data{
    opacity: 0;
    transition: all .2s;
    margin-bottom: 5rem;

    z-index: 99;
    h4{
      text-transform: uppercase;
      @extend %title-with-span;
    }
    p{
        text-transform: uppercase;
    }
  }
}
