<footer class="container-fluid footer">
  <div class="row width-one footer-container">
    <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center footer-container-box1">
      <img src="../../../assets/img/logos/vality.svg" alt="Vality">
    </div>
    <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center footer-container-box2">
      <img src="../../../assets/img/icons/fb.svg" alt="Facebook">
        <img src="../../../assets/img/icons/ig.svg" alt="Instagram">
        <img src="../../../assets/img/icons/twitter.svg" alt="Twitter">
        <img src="../../../assets/img/icons/yt.svg" alt="YouTube">
    </div>
    <div class="col-12 col-lg-4 footer-container-box3">
      <nav class="d-flex flex-column align-items-center justify-content-center">
        <ul class="mb-0">
          <li>PORTFOLIO</li>
          <li>INVESTMENT</li>
          <li>LANGUAGES</li>
          <li>CONNECT</li>
          <li>WALLET</li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
