@import "../.:/../../../styles.scss";

.home {
  padding: 0;
  overflow: hidden;
  &-section1 {
    background-image: url(../../../assets/img/content-bg/shadow.png),
      url(../../../assets/img/content-bg/home1-2.png),
      url(../../../assets/img/content-bg/home1-1.png),
      url(../../../assets/img/content-bg/sky.png);
    background-size: 100% 250px, cover, cover, 300%;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 100%, top, top, center;
    width: 100%;
    height: calc(100vh - 200px);
    margin: 0;
    animation: banner 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
    & > div {
      width: 89%;
      margin-left: auto;
      h4 {
        margin-bottom: 0;
        font-weight: 400;
        @extend %title1;
        @extend %gfont;
        span {
          font-weight: bold;
        }
      }
      p {
        margin: 2rem 0;
        max-width: 500px;
      }
    }
    .redes-socials {
      transform: translateY(5.5rem);
      bottom: 0;
      width: 220px;
      right: 12%;
      @media screen and (max-width: 992px) {
        right: 0;
        left: 0;
        margin: 0 auto;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
        &:last-child {
          height: 60px;
          width: 60px;
          margin-left: 1.5rem;
        }
      }
    }
  }

  //ANIMACION
      @keyframes banner {
      0% {
        background-position-x: center, left, left, 40%;
        background-position-y: 100%, top, top, 40%;
      }
      100% {
        background-position-x: center, left, left, 95%;
        background-position-y: 100%, top, top, 87%;
      }
    }
  //ANIMACION

  &-section2 {
    margin-top: 10rem;
    position: relative;
    min-height: 700px;
    &::after {
      content: " ";
      background-image: url(../../../assets/img/content-bg/shadow2.png),
        url(../../../assets/img/content-bg/home2.png);
      background-repeat: repeat-x, no-repeat;
      background-size: 640px, cover;
      background-position-y: 0%, 90%;
      width: 100%;
      height: 410px;
      position: absolute;
      bottom: 0;
    }
    & > div {
      &::after {
        content: " ";
        background-color: $blue;
        width: 230px;
        height: 390px;
        position: absolute;
        bottom: 0;
        left: 11%;
        z-index: 9;
        mix-blend-mode: overlay;
      }
    }
    &-box1 {
      h4 {
        @extend %title2;
        margin-bottom: 0;
        font-weight: 400;
        @extend %gfont;
        span {
          font-weight: bold;
        }
      }
    }
    &-box2 {
      z-index: 1;
      p {
        @extend %paragraph;
        margin-bottom: 3rem;
      }
    }
  }
  &-section3 {
    & > div {
      &::after {
        content: " ";
        width: 230px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 11%;
        background-color: $blue;
      }
    }
    &-box1 {
      h4 {
        font-size: 3.5rem;
        margin-bottom: 0;
        font-weight: 400;
        @extend %gfont;
        @media screen and (max-width: 767px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 2.5rem;
        }
      }
      &-title2 {
        font-weight: bold;
      }
      &-title3 {
        font-size: 2.8rem !important;
        @media screen and (max-width: 767px) {
          font-size: 2.2rem !important;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.8rem !important;
        }
      }
      p {
        @extend %paragraph;
      }
    }

    &-box2 {
      &-item {
        max-width: 450px;
        position: relative;

        &::after {
          content: " ";
          height: 300px;
          width: 350px;
          position: absolute;
          background-color: #ffffff;
          top: 180px;
          left: 60px;
          z-index: 11;
          @media screen and (max-width: 500px) {
            height: 190px;
            max-width: 240px;
            width: 100%;
          }
          @media screen and (max-width: 400px) {
            height: 160px;
            max-width: 240px;
            left: 40px;
          }
        }
        &::before {
          content: " ";
          height: 400px;
          width: 250px;
          background-image: url(../../../assets/img/content-bg/lines.png);
          background-size: contain;
          position: absolute;
          margin: auto;
          bottom: 50px;
          left: 0;
          right: 0;
          z-index: 10;
        }
        img {
          width: 100%;
          position: relative;
          z-index: 15;
        }
        .arrow {
          background-color: $blue;
          width: 90px;
          height: 50px;
          margin: 0 auto;
          overflow: hidden;
          img {
            width: 20px;
            transform: translateY(-10px);
          }
        }
      }
    }
  }
  &-section4 {
    background-image: url(../../../assets/img/content-bg/bg-nft.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    h4 {
      @extend %title-with-span;
    }
    &-contents {
      margin-top: 9rem;
      &-nft {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        grid-gap: 1rem;
        justify-content: space-between;
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        @media screen and (max-width: 1160px) {
          grid-template-columns: repeat(2, 260px);
          grid-gap: 4rem 0rem;
          width: 70%;
        }
        @media screen and (max-width: 992px) {
          grid-template-columns: repeat(2, 260px);
          grid-gap: 4rem 0rem;
          width: 80%;
        }
        @media screen and (max-width: 670px) {
          grid-template-columns: repeat(1, 260px);
          grid-gap: 4rem 0rem;
          justify-content: center;
        }
      }
    }
  }
  &-section5 {
    padding: 7rem;
    background-color: black;
    background-image: url(../../../assets/img/content-bg/home5-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    position: relative;
    z-index: 99;
    @media screen and (max-width: 992px) {
      padding: 5rem 0;
      width: 90%;
      margin: 0 auto;
    }
    .row {
      max-width: 1456px;
      margin: 0 auto;
    }
    &-box1 {
      background-color: black;
      background-image: url(../../../assets/img/content-bg/graphic.png);
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-size: contain;
      height: 620px;
      max-width: 890px;
      padding: 2.5rem 0;
      h4 {
        margin-bottom: 4.5rem;
        font-size: 1.9rem;
        @extend %title-with-span;
      }
      h5 {
        margin-bottom: 2rem;
        font-size: 1rem;
        font-weight: bold;
        @extend %gfont;
      }
      p {
        margin-bottom: 3rem;
        font-weight: 500;
        @extend %gfont;
      }
      .btns {
        max-width: 300px;
        width: 100%;
        button {
          background-color: transparent;
          width: 140px;
          border-radius: 1rem;
          padding: 0.45rem 0;
          border: 2px solid $white;
          font-size: 0.8rem;
          font-weight: 500;
          @extend %gfont;
        }
      }
    }
    &-box2 {
      background-color: black;
      background-image: url(../../../assets/img/content-bg/home5.png);
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-size: contain;
    }
  }
  &-section6 {
    padding-top: 6rem;
    background-color: black;
    background-image: url(../../../assets/img/content-bg/home6-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    &::after {
      content: " ";
      width: 60%;
      height: 100%;
      background-image: url(../../../assets/img/content-bg/shadow3.png);
      position: absolute;
      right: 0;
      top: 0;
    }
    .row {
      &::after {
        content: " ";
        width: 60%;
        height: 170px;
        background-image: url(../../../assets/img/content-bg/home6-line.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 46%;
      }
    }
    &-box1 {
      max-width: 600px;
      position: relative;
      z-index: 10;
      img {
        width: 100%;
      }
    }
    &-box2 {
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      z-index: 10;
      h4 {
        @extend %title-with-span;
      }
      p {
        @extend %paragraph;
      }
    }
  }
  &-section7 {
    &-box1 {
      background-color: $blue;
      padding: 10rem 0 6rem 7rem;
      @media screen and (max-width: 992px) {
        padding: 10rem 0 6rem 0rem;
        margin: 0 auto;
      }
      & > div {
        max-width: 600px;
        h4 {
          @extend %title-with-span;
        }
        p {
          @extend %paragraph;
        }
      }
    }
    &-box2 {
      & > div > div {
        @media screen and (max-width: 992px) {
          height: 500px;
          max-width: 280px;
          margin: 1.5rem auto;
          width: 100%;
        }
      }
    }
  }
}
