<main class="container-fluid home">
  <div class="home-section1 d-flex align-items-end position-relative">
    <div class="row width-one">
      <div class="col-12">
        <h4 class="home-section1-title1 ">REAL STATE </h4>
        <h4 class="home-section1-title2">WITH BLOCKCHAIN</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
          Ipsum doloremque blanditiis dignissimos architecto culpa rem<br>
          vel libero nesciunt porro placeat</p>
        <app-button></app-button>
      </div>

      <div class="col-12 position-absolute d-flex justify-content-end align-items-center redes-socials">
        <img src="../../../assets/img/icons/fb.svg" alt="Facebook">
        <img src="../../../assets/img/icons/ig.svg" alt="Instagram">
        <img src="../../../assets/img/icons/twitter.svg" alt="Twitter">
        <img src="../../../assets/img/icons/yt.svg" alt="YouTube">
        <img src="../../../assets/img/icons/mouse.svg" alt="">

      </div>
    </div>

  </div>
  <div class="home-section2 ">
    <div class="row width-one">
      <div class="col-12 col-lg-6 home-section2-box1 d-flex flex-column align-items-center">
        <h4 class="home-section2-box1-title1">HOW IT</h4>
        <h4 class="home-section2-box1-title2">WORKS</h4>

      </div>
      <div class="col-12 col-lg-6 home-section2-box2  d-flex flex-column ">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Sunt porro aliquid reiciendis veniam quod eum delectus ipsam adipisci, numquam dolore libero quae. Laboriosam
          nihil provident  vero nam nostrum facere quisquam ratione teneturdistinctio   odio. Eligendi
          temporibus<br><br>

          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Sunt porro aliquid reiciendis veniam quod eum delectus ipsam adipisci, numquam dolore libero quae. Laboriosam
          nihil provident  vero nam nostrum facere quisquam ratione teneturdistinctio   odio. Eligendi
          temporibus<br><br>

          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
           eum delectus ipsam adipisci, numquam dolore libero quae. Laboriosam
          nihil provident  vero nam

        </p>
        <app-button></app-button>

      </div>
    </div>
  </div>
  <div class="home-section3 position-relative py-3 ">
    <div class="row width-one py-5" >
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center mt-5 home-section3-box1 ">
        <h4 class="home-section3-box1-title1">QUALITIES</h4>
        <h4 class="home-section3-box1-title2">AROUND</h4>
        <h4 class="home-section3-box1-title3">THE PRODUCT</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
          Ipsum doloremque blanditiis dignissimos architecto culpa rem<br>
          vel libero nesciunt porro placeat</p>
        <app-button></app-button>
      </div>

      <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center home-section3-box2 ">
        <div class="home-section3-box2-item position-relative">
          <img src="../../../assets/img/content&bg/edfs.png">
          <div class="arrow d-flex align-items-center justify-content-center">
            <img src="../../../assets/img/icons/arrow.png">
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="home-section4">
    <div class="row width-one" >
        <h4 class="home-section4-title1">INVESTMENT</h4>
        <h4 class="home-section4-title2"><span>EASY</span> FOR YOU</h4>

      <div class="col-12 home-section4-contents">
        <div class="home-section4-contents-nft">
          <app-nft-item nft="1"></app-nft-item>
          <app-nft-item nft="2"></app-nft-item>
          <app-nft-item nft="3"></app-nft-item>
          <app-nft-item nft="4"></app-nft-item>

        </div>

      </div>
    </div>

  </div>
</main>
