<div class="item">
  <div class="nft d-flex align-items-end position-relative">
    <img src="../../../assets/img/content&bg/nft{{nft}}.png">
    <div class="price-mint d-flex justify-content-between w-100 position-relative px-2">
      <div class="price-mint-box">
        <span class="position-absolute price-text">PRICE</span>
        <span class="price-number">2,00</span>
      </div>
      <span class="btn-plus d-flex align-items-center justify-content-center">+</span>
      <button class="button">BUTTON</button>
    </div>
  </div>
</div>
