/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts";

//GLOBAL STYLES

* {
  color: #ffffff;
}
li {
  list-style: none;
}

p {
  @extend %gfont;
  font-weight: 400;
}

body {
  background-color: black;
}

.col-12,
.col-lg-,
.row {
  padding: 0;
  margin: 0;
}

.width-one {
  @extend %width-one;
}
%width-one {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
}

// COLORES

$black: #020202;
$blue: #2e58fd;
$gray: #d3d3d3;
$gray2: #4d4d4d;
$white: #fdfdff;
$white2: #fcfcfc;

//SIZES
%title1{
  font-size: 2.5rem;
  @media screen and (max-width: 992px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.85rem;
}
}
%title2{
  font-size: 4.6rem;
  @media screen and (max-width: 992px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 3.2rem;
}
}

// PRE STYLES

%paragraph {
  margin: 3rem 0;
  text-align: justify;
  max-width: 500px;
  width: 85%;
  font-weight: 400;
  @extend %gfont;
  @media screen and (max-width: 992px) {
    margin: 3rem auto;
  }
}
%title-with-span {
  @extend %title1;
  font-weight: 400;
  @extend %gfont;
  span {
    font-weight: bold;
  }
}
